{% extends "mainuser.html" %}
{% block content %}

<div class="col-xs-4 bg-light"></div>

<div class="col-xs-4">

	</br></br>

	<div class="card-color img-rounded text-center">

		</br>
		<h3 class="header-color text-center img-rounded form-padding">Edit Ad</h3>
		

		<form action ="{{url_for('editAd', user_id = user_id, ad_id = ad_id, ad = editedAd)}}" method = 'post'>

			</br>
			<p>Category:</p>	
				<select name='category'>
					<option value="{{ad.category.name}}">{{ad.category.name}}</option>
					<option value="Art and Collectables">Art and Collectables</option>
					<option value="Clothes">Clothes</option>
					<option value="Electronics">Electronics</option>
					<option value="Furnature">Furnature</option>
					<option value="Jewellery and Watches">Jewellery and Watches</option>
					<option value="Sports">Sports</option>
					<option value="Tools">Tools</option>
					<option value="Toys and Games">Toys and Games</option>
				</select>
			<!--
			<p>Category:</p><input type="text" size="50" name="category" placeholder="{{ad.category.name}}">
			</br></br>
			-->

			<p>Name:</p><input type="text" size="50" name="name" placeholder="{{ad.name}}">
			</br></br>			

			<p>Price:</p><input type="text" size="50" name="price" placeholder="{{ad.price}}">
			</br></br>

			<p>Descripion:</p><input type="text" size="50" name="description" placeholder="{{ad.description}}">
			<br>

			</br></br>

		<div class="form-padding">

			<input class="btn btn-warning btn-block center-block" type="submit" name="Edit">
			<br>
			<a class="btn btn-danger center-block" href="{{url_for('showMyAds', user_id = user_id)}}" role="button">Cancel</a>

		</div>

		</br></br>

		</form>

	</div>

</div>

<div class="col-xs-4 bg-light"></div>

{% endblock %}