{% extends "main.html" %}
{% block content %}

<div class="col-xs-4 bg-light"></div>

<div class="col-xs-4 bg-success border img-rounded">

	<h1 class="text-center">Edit</h1>

	<form action ="{{url_for('editAd', user_id = user_id, ad_id = ad_id, ad = editedAd)}}" method = 'post'>

		<p>Name:</p><input type="text" size="60" name="name" placeholder="{{ad.name}}">

		<p>Category:</p><input type="text" size="60" name="category" placeholder="{{ad.category.name}}">

		<p>Price:</p><input type="text" size="60" name="price" placeholder="{{ad.price}}">

		<p>Descripion:</p><input type="text" size="60" name="description" placeholder="{{ad.description}}">

		</br></br>
	
	<input class="btn btn-primary btn-block center-block" type="submit" name="Edit">
	<br>
	<a class="btn btn-danger center-block" href="{{url_for('showMyAds', user_id = user_id)}}" role="button">Cancel</a>
	
	</br><br>

	</form>

</div>

<div class="col-xs-4 bg-light"></div>

{% endblock %}