<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> cat-e-log </title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}"> 

		<!-- Pre-requistisites for google sign-in -->
   		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  		</script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>

	</head>
	
	<body>
		
		<div class="container-fluid">

			<!-- Header -->	
			<div class="row bg-primary text-right">
				<h1><a class="bg-primary" href="{{url_for('showAllCategories')}}">cat-e-log</a></h1>
				<h5>Online store for anything and everything</h5>
			</div>

			<!-- Individual page content goes here -->	
			<div class="row bg-light">
				{% block content %}
				{% endblock %}
			</div>

			<!-- Footer -->
			<div class="row sticky-bottom bg-primary text-center">
				<h5>Created by Andrew Hart</h5>
			</div>

		</div>

	</body>
</html>