<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> cat-e-log </title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}"> 

		<!-- Pre-requistisites for google sign-in -->
   		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  		</script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>

	</head>
	
	<body>
		
		<div class="container-fluid bg-color">

			<nav class="navbar narbar-light header-color header-container">
				<div class="logo-container">
					<h1><a href="{{url_for('showAllCategories')}}">cat-e-log</a></h1>
				</div>
				
				<div class="icon-container">
					<a class="btn card-color btn-large" href="{{url_for('showLogin')}}" role="button">Login</a>		
					</a>
				</div>
			</nav>

				
			<!-- Individual page content goes here -->	
			<div class="row bg-light">
				{% block content %}
				{% endblock %}
			</div>

		</div>

	</body>
</html>