{% extends "main.html" %}
{% block content %}

<!-- Login Banner -->
<div class="row bg-primary text-left">
	<a class="btn btn-success btn-large" role="button">Login</a>
	<a class="btn btn-danger btn-large" href="{{url_for('gdisconnect')}}" role="button">Signout</a>
	<h3>Welcome {{user_name}}</h3>
</div>	

<!-- Category Listings Section -->	
<div class="col-xs-3 bg-success border-dark">
	<h2>Categories</h2>
	{% for c in categories %}
	<a class="btn btn-primary btn-block left-block" href="{{url_for('showCategory', category_name = c.name )}}" role="button">{{c.name}}</a>
{% endfor %}
</br>
</div>

<!-- Lastest Ads Posted Section -->
<div class="col-xs-9 bg-success">
	<h2>Latest Ads</h2>
</div>

{% endblock %}