{% extends "main.html" %}
{% block content %}

<div class="col-xs-4 bg-light"></div>

<div class="col-xs-4 bg-success border img-rounded">
		
	<h1 class="text-center">{{category_name}}</h1>

	{% for a in ads %}

	<div class="card bg-primary rounded img-rounded">
		<div class="card-body">
			<h3 class="card-title">{{a.name}}</h3>
			<P class="card-text">Category: {{a.category.name}}</P>
			<P class="card-text">Price: ${{a.price}}</P>
			<P class="card-text">Description: {{a.description}}</P>
			<P class="card-text text-center">Posted By: {{a.user.name}}</P>
			</br>

		</div>
	</div>

	{% endfor %}

</div>

<div class="col-xs-4 bg-light"></div>

{% endblock %}